# all outbound relay credentials
{% for user in mail_outbound_shadow.keys() %}
{% if mail_outbound_shadow[user].delivery_password is defined %}
{{ user }}    {{ mail_outbound_shadow[user].delivery_password }}
{% endif %}
{% endfor %}
