# all outbound relay credentials
{% for user in mail_outbound_config.keys() %}
{% if mail_outbound_config[user].delivery_password is defined %}
{{ user }}    {{ mail_outbound_config[user].delivery_password }}
{% endif %}
{% endfor %}
