#derived from $OpenBSD: smtpd.conf,v 1.11 2018/06/04 21:10:58 jmc Exp $

# This smtpds only task is to receive mail from the spamfilters and 
# route it per domain to their specific mailservers via smtp

smtp max-message-size 200M

table credentials file:/etc/mail/credentials
table outbound_credentials file:/etc/mail/outbound_credentials

# To accept external mail, replace with: listen on all
listen on lo0
listen on {{ ansible_default_ipv4.device }} port 25 

{% for user in mail_relay_config %}
table {{ user }} file:/etc/mail/{{ user }}.domains
{% if mail_relay_shadow[user].delivery_password is defined %}
action "{{ user }}" relay tls no-verify host "{{ mail_relay_config[user].delivery_url }}" auth <credentials>
{% else %} 
action "{{ user }}" relay tls no-verify host "{{ mail_relay_config[user].delivery_url }}"
{% endif %}
match from any for domain <{{ user }}> action "{{ user }}"
{% endfor %}

# we should not have any local mail bit just in case 
{% for user in mail_outbound_config %}
table outbound_{{ user }} file:/etc/mail/outbound_{{ user }}.domains
{% if mail_outbound_shadow[user].delivery_password is defined %}
action "outbound_{{ user }}" relay helo "{{ mail_helo|default(mail_domain) }}" tls no-verify host "{{ mail_outbound_config[user].delivery_url }}" auth <outbound_credentials>
{% else %} 
action "{{ user }}" relay helo "{{ mail_helo|default(mail_domain) }}" tls no-verify host "{{ mail_outbound_config[user].delivery_url }}"
{% endif %}
match from local for domain <outbound_{{ user }}> action "outbound_{{ user }}"
match from any auth for domain <outbound_{{ user }}> action "outbound_{{ user }}"
{% endfor %}

{% if alerts_email_address is defined %}
action "local" maildir virtual {"@"="{{ alerts_email_address }}"}
match from local for local action "local"
match from any auth for local action "local"
{% endif %}

action "relay" relay helo "{{ mail_helo|default(mail_domain) }}"
match from local for any action "relay"
match from any auth for any action "relay"

